// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #0CF3E4;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-sea-green: #17C3B2;
$charleston-green: #272D2D;
$melon: #fcbfb7;
$naples-yellow: rgb(255, 224, 102);

