// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "map";
@import "navbar";
@import "vote";
@import "btn";
@import "links";


html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

// html {
//   min-width: 100%;
//   min-height: 100%;
// }

// body {
//   height: 1054px;
//   background-color: #FFF;
// }