.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-marker svg g {
  fill: $warning;
}

.mapboxgl-map, #map, .map {
  &:focus {
    outline: none !important;
    outline: -webkit-focus-ring-color auto 0px !important;

  }
}

.mapboxgl-ctrl {
  &:focus {
    outline: none !important;
  }
}

input[type="text"], input[type="password"], textarea, select { 
  outline: none !important;
}

.mapboxgl-ctrl-top-right, .mapboxgl-ctrl-attrib-inner {
  margin-right: 20px;
}
