<h2>Write a review:</h2>
<%= simple_form_for [@place, @review] do |f| %>
  <%= f.input :content, hint: '15 characters minimum' %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
